{{> head }}
    {{> navbar }}
    <div class="row">
        <div class="col-8">
            <h1>Claudia Marcela Navarro Avellaneda</h1>
            <p>Esta nena es la segunda mujer que me ha hecho el mejor sexo oral de mi vida</p>
            <p>Es la primera y la única mujer a la cual me le he venido por dentro sin condón</p>
        </div>
        <div class="col-4">
            <img src="assets/img/Claudia 004.gif" class="img-thumbnail">
        </div>
    </div>
{{> footer }}