{{> head }}
    {{> navbar }}
    <div class="row">
        <div class="col-8">
            <h1>Immortal</h1>
            <p>Immortal es una banda noruega de black metal fundada en 1990 por el bajista y vocalista Abbath,
               el batería Armagedda y los guitarristas Demonaz y Jörn Tonsberg en Os, cerca de la ciudad de Bergen
               —en la que también se formaron bandas como Burzum, Gorgoroth o Taake
            </p>
        </div>
        <div class="col-4">
            <img src="assets/img/immortal.jpg" class="img-thumbnail">
        </div>
    </div>
{{> footer }}